.form {
    margin: 20px;

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14px;
        width: 100%;

        .data_value {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0px 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
        }
    }
}